.Container {
    h2 {
        font-weight: 700;
        font-size: 150%;
        line-height: 48px;
        letter-spacing: -0.26px;
    }

    p {
        font-weight: 400;
        font-size: 112.5%;
        line-height: 32px;
        letter-spacing: -0.26px;
    }
}