.Container {
    height: 20.188rem;
    width: 100%;

    background-image: url("/images/background.svg");
}

.Content {
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    width: 100%;
    margin: auto;
    padding: 73px 0px;
}

.activeButton{
    box-shadow: 0px 5px #ffffff, inset 0 3px #82a81a;
}

.categoryButtons {
    button {
        padding: 12px 10px;
        height: 53px;
        border: none;
        font-size: 0.938rem;
        font-weight: 500;
        background: #ffffff;

        transition: box-shadow 0.2s;

        & + button {
            margin-left: 5px;
        }

        &:hover {
            box-shadow: 0px 5px #ffffff, inset 0 3px #b8d272;
        }

        &:last-child {
            padding: 0 25px;
            font-weight: 900;
        }
    }
}

.searchBar {
    width: 100%;
    height: 118px;
    background: #ffffff;
    margin-top: 5px;

    padding: 30px 20px;

    div {
        display: flex;
        flex-direction: row;

        input {
            display: flex;
            justify-content: center;
            width: 80%;
            height: 48px;
            padding: 10px;

            border: 1px solid #d2d2dc;
            color: #818181;
        }
        button {
            flex: 1;
            background: var(--cyan-500);
            border: none;
            color: #ffffff;

            transition: background 0.2s;

            &:hover{
                background: #2ca1cf;
            }
        }
    }
}

.topSearched {
    font-weight: 400;
    font-size: 0.85rem;
    margin: 10px 0px;

    ul {
        list-style-type: none;

        li {
            float: left;
            margin: 0px 5px;

            transition: color 0.2s;

            &:hover{
                color: var(--cyan-500);
            }

            & + li {
                &:before {
                    content: "/ ";
                }
            }
        }
    }
}
