.spotlightNew {
    a {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        transition: color 0.2s;

        div {
            display: flex;
            flex-direction: column;
            flex: 1;

            margin: 20px 30px;

            #p1 {
                color: #171e44;
                font-weight: 600;
                font-size: 2rem;
            }

            #p2 {
                font: 400;
                margin-top: 25px;
            }

            #p3 {
                color: #656d72;
                margin: 20px 0px;
            }
        }
    }

    // transition: color 0.2s;
    // &:hover {

    //         color: var(--cyan-500);

    // }
}

.moreNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media (max-width: 768) {
        justify-content: center;
    }

    div {
        float: left;
        width: 257px;
        margin: 30px 0px;


        img {
            width: 100%;
        }

        p {
            margin-top: 10px;
            color: #656d72;
            font-size: 0.75rem;

            & + :last-child {
                margin-top: 12px;
                color: #171e44;
                font-size: 1rem;
            }
        }

        // & + div {
        //     margin-left: 30px;
        // }
    }
}

.filters {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    font-size:1rem;
    font-weight: 400;

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        color: #343434;

        li {
            float: left;
            margin: 0px 15px;
            height: 100%;
            display: flex;
            align-items: center;

            transition: box-shadow 0.2s, color 0.2s;

            &:hover {
                box-shadow: inset 0 -3px #b8d272;
                color: var(--cyan-500);
            }

            & + :last-child {
                background: #171e44;
                color: #ffffff;
                padding: 10px 20px;
                transition: background 0.2s;

                &:hover {
                    background: #2d3667;
                }
            }
        }
    }
}
