* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;

    --gray-100: #e1e1e6;
    --gray-200: #cbcbcf;
    --gray-800: #29292e;
    --gray-900: #121214;

    --cyan-500: #61C5EC;
    --cyan-900: #2162da;
    --yellow-500: #eba417;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background:var(--white);
    font: 400 1rem "Inter", sans-serif;
}

body,
input,
textarea,
select,
button {
    font: 400 1rem "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.ReactCollapse--collapse{
    position:fixed;
    top:0;
    // bottom:0;
    
    transition: height 0.3s;
}

// .ReactCollapse--content{
//      height: 100%;
// }