.Container {
    width: 100%;
    max-width: 1230px;
    margin: auto;
    margin-top: 52px;
}

.AllNews {
    display: flex;
    flex-flow: row wrap;

    @media(max-width: 768px){
        justify-content: space-around;
    }
}

.NewsFeed {
    background: #f5f5f5;
    width: 100%;
    max-width: 582px;
    height: 282px;
    padding: 30px;

    display: flex;
    flex-direction: column;

    margin: 0px 15px;
    margin-bottom: 60px;

    h1 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 15px;
    }

    p {
        font-size: 1rem;
        font-weight: 400;

        display: flex;
        align-items: center;

        transition: color 0.2s;

        & + :last-child {
            font-size: 0.875rem;
            font-weight: 400;
            margin-top: auto;

            img {
                margin-right: 20px;
            }
        }

        &:hover{
            color:var(--cyan-900);
        }
    }
}
