.Container {
    max-width: 1140px;
    margin: auto;
}

.Content {
    padding: 0 10px;
    margin: 0px 20px;
    margin-bottom: 40px;

    p {
        color: #191919;

        &:first-child {
            font: 600 2.25rem "Raleway", sans-serif;
            line-height: 2.641rem;
            margin-bottom: 12px;
        }

        font: 400 1.125rem "Raleway", sans-serif;
        line-height: 1.705rem;
    }
}

.informationsAndServices {
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-evenly;

    @media(max-width:768){
        justify-content: center;
    }
}
