.boxForm {
    form {
        border: 1px solid #d2d2dc;

        input {
            border: none;
        }

        button {
            transition: color 0.2s;

            &:hover {
                color: #61dafb;
            }
        }
    }
}

.hrDivider {
    width: 100vw;
    border: 2px solid #61dafb;
}
