.Container{
    max-width: 1120px;
    margin: auto;
    margin-top: 150px;

    ul{
        list-style: none;

        li{
            font-weight: 600;
            font-size: 1.625rem;
            margin:10px 0;
            color: #191919;

            transition: color 0.2s;

            &:hover{
                color: var(--cyan-500);
            }
        }
    }
}