.listLiElements {
    li {
        font-weight: 600;
        margin: 10px 0;
        color: #191919;

        transition: color 0.2s;

        &:hover {
            color: var(--cyan-500);
        }
    }
}
