.Container {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    background: #191919;
}

.Content {
    width: 100%;
    max-width: 1120px;
    margin: auto;

    display: flex;
    flex-flow: row wrap;

    font-size: 0, 875rem;
    font-weight: 400;
    color: #ffffff;

    a {
        img {
            margin-right: 6px;
            // border-radius: 50%;
            // transition: background 0.2s;

            // &:hover{
            //     background-color: var(--cyan-500);;
            // }
        }

        & + a {
            margin-left: 6px;
        }

        transition: color 0.2s;

        &:hover{
            color:var(--cyan-500);
        }
    }
}
