.Content {

    a {
        img {
            margin-right: 6px;
            // border-radius: 50%;
            // transition: background 0.2s;

            // &:hover{
            //     background-color: var(--cyan-500);;
            // }
        }

        & + a {
            margin-left: 6px;
        }

        transition: color 0.2s;

        &:hover{
            color:var(--cyan-500);
        }
    }
}
